body {
    margin: 0;
}
p1{
    font-size: 22px;
}
.container{
    text-align: center;
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 12px;
}
.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
